In [36]:
import pandas as pd

#AGREGAMOS EL DATA SET Y VISUALIZAMOS LA PRIMERAS 5 COLUMNAS PARA VALIDAR QUE TODO ESTA BIEN#

df_pasivos = pd.read_csv(r"C:\Users\rosal\Documents\GitHub\practica-1-EDA-pj2r98\DATA\gov_10q_ggfa__custom_18993467_linear.csv")
df_pasivos.head()

,DATAFLOW,LAST UPDATE,freq,na_item,finpos,stk_flow,sector,sector2,co_nco,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q1,372707.4,NaN,NaN
1,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q2,375498.1,NaN,NaN
2,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q3,374127.9,NaN,NaN
3,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q4,371725.9,NaN,NaN
4,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2019-Q1,375662.1,NaN,NaN

In [37]:
# VALIDAMOS LA INFO QUE HAY DEL DATA SET (u estructira al igual que el tipo de dato como el valor de nulos que posee)#

df_pasivos.isnull().sum()

DATAFLOW          0
LAST UPDATE       0
freq              0
na_item           0
finpos            0
stk_flow          0
sector            0
sector2           0
co_nco            0
unit              0
geo               0
TIME_PERIOD       0
OBS_VALUE         0
OBS_FLAG       3480
CONF_STATUS    3720
dtype: int64

In [38]:
# VALIDAMOS TODAS LA COLUMNAS#

df_pasivos.columns

Index(['DATAFLOW', 'LAST UPDATE', 'freq', 'na_item', 'finpos', 'stk_flow',
       'sector', 'sector2', 'co_nco', 'unit', 'geo', 'TIME_PERIOD',
       'OBS_VALUE', 'OBS_FLAG', 'CONF_STATUS'],
      dtype='object')

In [39]:
#validamos los datos unicos para saber que filtrar#

print("na_item:", df_pasivos['na_item'].unique())
print("sector:", df_pasivos['sector'].unique())
print("unit:", df_pasivos['unit'].unique())
print("finpos:", df_pasivos['finpos'].unique())

na_item: ['Total financial assets/liabilities']
sector: ['General government']
unit: ['Million euro' 'Percentage of gross domestic product (GDP)']
finpos: ['Liabilities']

In [40]:
# FILTRAMOS PARA QUEDARNOS SOLO CON LOS PASIVOS DEL GOBIERNO GENERAL Y DATOS QUE NOS INTERESAN #

df_pasivos = df_pasivos[df_pasivos['na_item'] == "Total financial assets/liabilities"]    #TOTAL FINANCIAL#
df_pasivos = df_pasivos[df_pasivos['sector'] == "General government"] #SECTOR S13#
df_pasivos = df_pasivos[df_pasivos['unit'] == "Million euro"] #MILLONES DE EUROS#
df_pasivos = df_pasivos[df_pasivos['finpos'] == "Liabilities"] #PASIVOS#

df_pasivos.head()

,DATAFLOW,LAST UPDATE,freq,na_item,finpos,stk_flow,sector,sector2,co_nco,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q1,372707.4,NaN,NaN
1,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q2,375498.1,NaN,NaN
2,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q3,374127.9,NaN,NaN
3,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2018-Q4,371725.9,NaN,NaN
4,ESTAT:GOV_10Q_GGFA(1.0),21/10/25 11:00:00,Quarterly,Total financial assets/liabilities,Liabilities,Stock,General government,Total economy and rest of the world,Consolidated,Million euro,Austria,2019-Q1,375662.1,NaN,NaN

In [42]:
#SELECCIONAMOS LAS COLUMNAS CON LAS QUE NOS QUEDAREMOS#

df_pasivos = df_pasivos[[
    'geo',          # Código del país
    'TIME_PERIOD',  # Trimestre o período
    'OBS_VALUE',    # Valor numérico
    'na_item',      # Tipo de indicador (Total financial assets/liabilities)
    'finpos'        # Activos o Pasivos
]]

df_pasivos.head()

,geo,TIME_PERIOD,OBS_VALUE,na_item,finpos
0,Austria,2018-Q1,372707.4,Total financial assets/liabilities,Liabilities
1,Austria,2018-Q2,375498.1,Total financial assets/liabilities,Liabilities
2,Austria,2018-Q3,374127.9,Total financial assets/liabilities,Liabilities
3,Austria,2018-Q4,371725.9,Total financial assets/liabilities,Liabilities
4,Austria,2019-Q1,375662.1,Total financial assets/liabilities,Liabilities

In [43]:
# PROCEDEREMOS A TRANSCRIBIR EL NOMBRE DE LAS COLUMNAS SEGÚN LA INFORMACIÓN DEL DATASET

df_pasivos = df_pasivos.rename(columns={
    'geo': 'Codigo de Pais',
    'Geopolitical entity (reporting)': 'Pais',
    'TIME_PERIOD': 'Periodo',
    'OBS_VALUE': 'Pasivos (Millones de Euros)',
    'na_item': 'Indicador',
    'finpos': 'Posicion Financiera'
})

df_pasivos.head()

,Codigo de Pais,Periodo,Pasivos (Millones de Euros),Indicador,Posicion Financiera
0,Austria,2018-Q1,372707.4,Total financial assets/liabilities,Liabilities
1,Austria,2018-Q2,375498.1,Total financial assets/liabilities,Liabilities
2,Austria,2018-Q3,374127.9,Total financial assets/liabilities,Liabilities
3,Austria,2018-Q4,371725.9,Total financial assets/liabilities,Liabilities
4,Austria,2019-Q1,375662.1,Total financial assets/liabilities,Liabilities

In [44]:
#AHORA SI PROCEDEMOS A VER NULOS Y EMPEZAMOS CON LA LIMPIEZA ANTES DE EMPEZAR CON TRANSFORMACION#

df_pasivos.isnull().sum()

Codigo de Pais                 0
Periodo                        0
Pasivos (Millones de Euros)    0
Indicador                      0
Posicion Financiera            0
dtype: int64

In [45]:
len(df)

0

In [ ]:
#CON ESTO OBSERVAMOS QUE NO HAY BULOS NI FILAS NI COLUMNAS#

In [ ]:
#INICIAMOS TRANSFORMACION#

In [46]:
df_pasivos.columns

Index(['Codigo de Pais', 'Periodo', 'Pasivos (Millones de Euros)', 'Indicador',
       'Posicion Financiera'],
      dtype='object')

In [56]:
# Creamos columnas Año y Trimestre desde Periodo
df_pasivos['Anio'] = df_pasivos['Periodo'].str.slice(0, 4).astype(int)
df_pasivos['Trimestre'] = df_pasivos['Periodo'].str.slice(5)

# Mostramos los resultados correctamente
print("Primeros registros con País, Periodo, Año y Trimestre:")
print(df_pasivos[['Codigo de Pais', 'Periodo', 'Anio', 'Trimestre']].head(20))

Primeros registros con País, Periodo, Año y Trimestre:
   Codigo de Pais  Periodo  Anio Trimestre
0         Austria  2018-Q1  2018        Q1
1         Austria  2018-Q2  2018        Q2
2         Austria  2018-Q3  2018        Q3
3         Austria  2018-Q4  2018        Q4
4         Austria  2019-Q1  2019        Q1
5         Austria  2019-Q2  2019        Q2
6         Austria  2019-Q3  2019        Q3
7         Austria  2019-Q4  2019        Q4
8         Austria  2020-Q1  2020        Q1
9         Austria  2020-Q2  2020        Q2
10        Austria  2020-Q3  2020        Q3
11        Austria  2020-Q4  2020        Q4
12        Austria  2021-Q1  2021        Q1
13        Austria  2021-Q2  2021        Q2
14        Austria  2021-Q3  2021        Q3
15        Austria  2021-Q4  2021        Q4
16        Austria  2022-Q1  2022        Q1
17        Austria  2022-Q2  2022        Q2
18        Austria  2022-Q3  2022        Q3
19        Austria  2022-Q4  2022        Q4

In [ ]:
# Crear columnas Año y Trimestre desde Periodo
df_pasivos['Anio'] = df_pasivos['Periodo'].str.slice(0, 4).astype(int)
df_pasivos['Trimestre'] = df_pasivos['Periodo'].str.slice(5)

# TABLA PIVOT CORRECTA
tabla_trimestres = df_pasivos.pivot_table(
    index='Codigo de Pais',          
    columns='Trimestre',
    values='Pasivos (Millones de Euros)',  
    aggfunc='mean'
)

# Mostrar tabla completa
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("Tabla País vs Trimestres COMPLETA:")
print(tabla_trimestres)

Tabla País vs Trimestres COMPLETA:
Trimestre                                            Q1            Q2            Q3            Q4
Codigo de Pais
Austria                                    4.643554e+05  4.694447e+05  4.617197e+05  4.634727e+05
Belgium                                    6.389776e+05  6.444643e+05  6.380658e+05  6.369594e+05
Bulgaria                                   2.365679e+04  2.419606e+04  2.341261e+04  2.520711e+04
Croatia                                    6.738598e+04  6.844624e+04  6.754833e+04  6.806424e+04
Cyprus                                     3.299404e+04  3.355632e+04  3.405491e+04  3.351622e+04
Czechia                                    1.285755e+05  1.330780e+05  1.257300e+05  1.287303e+05
Denmark                                    1.871737e+05  1.887333e+05  1.927423e+05  1.938660e+05
Estonia                                    9.016956e+03  9.821725e+03  9.295036e+03  9.813071e+03
Euro area - 19 countries  (2015-2022)      1.405884e+07  1.420899e+07  1.410716e+07  1.411082e+07
Euro area – 20 countries (from 2023)       1.412622e+07  1.427744e+07  1.417471e+07  1.417888e+07
European Union - 27 countries (from 2020)  1.550773e+07  1.568382e+07  1.553177e+07  1.558406e+07
Finland                                    2.168408e+05  2.218429e+05  2.146524e+05  2.164276e+05
France                                     3.411721e+06  3.444252e+06  3.429848e+06  3.387000e+06
Germany                                    2.664895e+06  2.683858e+06  2.692814e+06  2.700924e+06
Greece                                     4.158060e+05  4.194483e+05  4.198625e+05  4.238279e+05
Hungary                                    1.407774e+05  1.431716e+05  1.388924e+05  1.414602e+05
Ireland                                    2.559164e+05  2.583907e+05  2.630089e+05  2.563091e+05
Italy                                      3.028330e+06  3.040329e+06  3.013729e+06  3.034077e+06
Latvia                                     2.097287e+04  2.154351e+04  2.119580e+04  2.171773e+04
Lithuania                                  2.579101e+04  2.654106e+04  2.612544e+04  2.634363e+04
Luxembourg                                 2.182292e+04  2.195778e+04  2.137221e+04  2.287706e+04
Malta                                      1.038521e+04  1.102619e+04  1.046224e+04  1.047644e+04
Netherlands                                5.967276e+05  6.107810e+05  5.968400e+05  6.044216e+05
Norway                                     2.038595e+05  1.979531e+05  1.965070e+05  2.181736e+05
Poland                                     4.362546e+05  4.499812e+05  4.213627e+05  4.413651e+05
Portugal                                   3.414181e+05  3.447164e+05  3.436688e+05  3.388704e+05
Romania                                    1.510226e+05  1.544903e+05  1.470254e+05  1.536933e+05
Slovakia                                   9.010666e+04  9.372481e+04  9.031136e+04  9.162486e+04
Slovenia                                   4.816419e+04  4.899386e+04  4.864979e+04  4.815233e+04
Spain                                      1.764596e+06  1.804297e+06  1.771484e+06  1.784010e+06
Sweden                                     3.140462e+05  3.127379e+05  3.078937e+05  3.208542e+05

In [ ]:
#A PARTIR DE LA TABLA ANTERIOR CREAMOS UN NUEVO DATAFREME#

In [60]:
# A partir de la tabla anterior creamos un nuevo DataFrame
df_trimestres = tabla_trimestres.copy()

print(df_trimestres)

Trimestre                                            Q1            Q2            Q3            Q4
Codigo de Pais
Austria                                    4.643554e+05  4.694447e+05  4.617197e+05  4.634727e+05
Belgium                                    6.389776e+05  6.444643e+05  6.380658e+05  6.369594e+05
Bulgaria                                   2.365679e+04  2.419606e+04  2.341261e+04  2.520711e+04
Croatia                                    6.738598e+04  6.844624e+04  6.754833e+04  6.806424e+04
Cyprus                                     3.299404e+04  3.355632e+04  3.405491e+04  3.351622e+04
Czechia                                    1.285755e+05  1.330780e+05  1.257300e+05  1.287303e+05
Denmark                                    1.871737e+05  1.887333e+05  1.927423e+05  1.938660e+05
Estonia                                    9.016956e+03  9.821725e+03  9.295036e+03  9.813071e+03
Euro area - 19 countries  (2015-2022)      1.405884e+07  1.420899e+07  1.410716e+07  1.411082e+07
Euro area – 20 countries (from 2023)       1.412622e+07  1.427744e+07  1.417471e+07  1.417888e+07
European Union - 27 countries (from 2020)  1.550773e+07  1.568382e+07  1.553177e+07  1.558406e+07
Finland                                    2.168408e+05  2.218429e+05  2.146524e+05  2.164276e+05
France                                     3.411721e+06  3.444252e+06  3.429848e+06  3.387000e+06
Germany                                    2.664895e+06  2.683858e+06  2.692814e+06  2.700924e+06
Greece                                     4.158060e+05  4.194483e+05  4.198625e+05  4.238279e+05
Hungary                                    1.407774e+05  1.431716e+05  1.388924e+05  1.414602e+05
Ireland                                    2.559164e+05  2.583907e+05  2.630089e+05  2.563091e+05
Italy                                      3.028330e+06  3.040329e+06  3.013729e+06  3.034077e+06
Latvia                                     2.097287e+04  2.154351e+04  2.119580e+04  2.171773e+04
Lithuania                                  2.579101e+04  2.654106e+04  2.612544e+04  2.634363e+04
Luxembourg                                 2.182292e+04  2.195778e+04  2.137221e+04  2.287706e+04
Malta                                      1.038521e+04  1.102619e+04  1.046224e+04  1.047644e+04
Netherlands                                5.967276e+05  6.107810e+05  5.968400e+05  6.044216e+05
Norway                                     2.038595e+05  1.979531e+05  1.965070e+05  2.181736e+05
Poland                                     4.362546e+05  4.499812e+05  4.213627e+05  4.413651e+05
Portugal                                   3.414181e+05  3.447164e+05  3.436688e+05  3.388704e+05
Romania                                    1.510226e+05  1.544903e+05  1.470254e+05  1.536933e+05
Slovakia                                   9.010666e+04  9.372481e+04  9.031136e+04  9.162486e+04
Slovenia                                   4.816419e+04  4.899386e+04  4.864979e+04  4.815233e+04
Spain                                      1.764596e+06  1.804297e+06  1.771484e+06  1.784010e+06
Sweden                                     3.140462e+05  3.127379e+05  3.078937e+05  3.208542e+05

In [61]:
# Creamos un nuevo DataFrame a partir de la tabla pivot
df_trimestres = tabla_trimestres.copy()

# Creamos la nueva columna Promedio Anual
df_trimestres['Promedio_Anual'] = df_trimestres[['Q1', 'Q2', 'Q3', 'Q4']].mean(axis=1)

# Mostramos toda la tabla
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("Nuevo DataFrame con Promedio Anual:")
print(df_trimestres)

Nuevo DataFrame con Promedio Anual:
Trimestre                                            Q1            Q2            Q3            Q4  Promedio_Anual
Codigo de Pais
Austria                                    4.643554e+05  4.694447e+05  4.617197e+05  4.634727e+05    4.647481e+05
Belgium                                    6.389776e+05  6.444643e+05  6.380658e+05  6.369594e+05    6.396168e+05
Bulgaria                                   2.365679e+04  2.419606e+04  2.341261e+04  2.520711e+04    2.411814e+04
Croatia                                    6.738598e+04  6.844624e+04  6.754833e+04  6.806424e+04    6.786120e+04
Cyprus                                     3.299404e+04  3.355632e+04  3.405491e+04  3.351622e+04    3.353037e+04
Czechia                                    1.285755e+05  1.330780e+05  1.257300e+05  1.287303e+05    1.290284e+05
Denmark                                    1.871737e+05  1.887333e+05  1.927423e+05  1.938660e+05    1.906288e+05
Estonia                                    9.016956e+03  9.821725e+03  9.295036e+03  9.813071e+03    9.486697e+03
Euro area - 19 countries  (2015-2022)      1.405884e+07  1.420899e+07  1.410716e+07  1.411082e+07    1.412145e+07
Euro area – 20 countries (from 2023)       1.412622e+07  1.427744e+07  1.417471e+07  1.417888e+07    1.418931e+07
European Union - 27 countries (from 2020)  1.550773e+07  1.568382e+07  1.553177e+07  1.558406e+07    1.557685e+07
Finland                                    2.168408e+05  2.218429e+05  2.146524e+05  2.164276e+05    2.174409e+05
France                                     3.411721e+06  3.444252e+06  3.429848e+06  3.387000e+06    3.418205e+06
Germany                                    2.664895e+06  2.683858e+06  2.692814e+06  2.700924e+06    2.685623e+06
Greece                                     4.158060e+05  4.194483e+05  4.198625e+05  4.238279e+05    4.197362e+05
Hungary                                    1.407774e+05  1.431716e+05  1.388924e+05  1.414602e+05    1.410754e+05
Ireland                                    2.559164e+05  2.583907e+05  2.630089e+05  2.563091e+05    2.584063e+05
Italy                                      3.028330e+06  3.040329e+06  3.013729e+06  3.034077e+06    3.029116e+06
Latvia                                     2.097287e+04  2.154351e+04  2.119580e+04  2.171773e+04    2.135748e+04
Lithuania                                  2.579101e+04  2.654106e+04  2.612544e+04  2.634363e+04    2.620028e+04
Luxembourg                                 2.182292e+04  2.195778e+04  2.137221e+04  2.287706e+04    2.200749e+04
Malta                                      1.038521e+04  1.102619e+04  1.046224e+04  1.047644e+04    1.058752e+04
Netherlands                                5.967276e+05  6.107810e+05  5.968400e+05  6.044216e+05    6.021925e+05
Norway                                     2.038595e+05  1.979531e+05  1.965070e+05  2.181736e+05    2.041233e+05
Poland                                     4.362546e+05  4.499812e+05  4.213627e+05  4.413651e+05    4.372409e+05
Portugal                                   3.414181e+05  3.447164e+05  3.436688e+05  3.388704e+05    3.421684e+05
Romania                                    1.510226e+05  1.544903e+05  1.470254e+05  1.536933e+05    1.515579e+05
Slovakia                                   9.010666e+04  9.372481e+04  9.031136e+04  9.162486e+04    9.144192e+04
Slovenia                                   4.816419e+04  4.899386e+04  4.864979e+04  4.815233e+04    4.849004e+04
Spain                                      1.764596e+06  1.804297e+06  1.771484e+06  1.784010e+06    1.781097e+06
Sweden                                     3.140462e+05  3.127379e+05  3.078937e+05  3.208542e+05    3.138830e+05

In [62]:
# REVISAMOS AÑOS ÚNICOS DEL DATASET DE PASIVOS
df_pasivos['Anio'] = df_pasivos['Periodo'].str.slice(0, 4).astype(int)

print("Años disponibles en el dataset:")
print(df_pasivos['Anio'].unique())

print("\nCantidad de años:", len(df_pasivos['Anio'].unique()))

Años disponibles en el dataset:
[2018 2019 2020 2021 2022 2023 2024 2025]

Cantidad de años: 8

In [65]:
# Extraemos el Año desde la columna 'Periodo'
df_pasivos['Anio'] = df_pasivos['Periodo'].str.slice(0, 4).astype(int)

# Creamos nueva tabla pivot País vs Años (Promedio Anual)
tabla_anual = df_pasivos.pivot_table(
    index='Codigo de Pais',          # FILAS = Países
    columns='Anio',                  # COLUMNAS = Años
    values='Pasivos (Millones de Euros)',   # VALORES numéricos
    aggfunc='mean'                   # Promedio anual
)

# Mostrar tabla completa
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("\nPromedio Anual de Pasivos (Millones de Euros) por País:")
print(tabla_anual)

Promedio Anual de Pasivos (Millones de Euros) por País:
Anio                                               2018          2019          2020          2021          2022          2023          2024          2025
Codigo de Pais
Austria                                    4.253004e+05  4.318959e+05  4.659803e+05  4.898101e+05  4.603867e+05  4.620137e+05  4.943557e+05  5.138880e+05
Belgium                                    5.784746e+05  6.144309e+05  6.572710e+05  6.768651e+05  6.231804e+05  6.319761e+05  6.685240e+05  6.949112e+05
Bulgaria                                   1.762924e+04  1.769917e+04  1.967112e+04  2.253770e+04  2.469456e+04  2.830019e+04  3.250850e+04  3.549945e+04
Croatia                                    5.813162e+04  6.000814e+04  6.307505e+04  6.765764e+04  6.996162e+04  7.471900e+04  7.643031e+04  7.800607e+04
Cyprus                                     2.939664e+04  3.278174e+04  3.535441e+04  3.684116e+04  3.377234e+04  3.301651e+04  3.361344e+04  3.314793e+04
Czechia                                    9.300632e+04  9.530590e+04  1.064372e+05  1.249960e+05  1.364253e+05  1.581903e+05  1.661866e+05  1.761296e+05
Denmark                                    1.831275e+05  1.922578e+05  2.150378e+05  2.146863e+05  1.827903e+05  1.779402e+05  1.786096e+05  1.678580e+05
Estonia                                    4.422837e+03  4.992250e+03  7.842438e+03  9.492513e+03  1.014969e+04  1.198236e+04  1.479480e+04  1.487933e+04
Euro area - 19 countries  (2015-2022)      1.260139e+07  1.314113e+07  1.420931e+07  1.499108e+07  1.419380e+07  1.422180e+07  1.489987e+07  1.531745e+07
Euro area – 20 countries (from 2023)       1.265952e+07  1.320114e+07  1.427239e+07  1.505874e+07  1.426376e+07  1.429652e+07  1.497630e+07  1.539546e+07
European Union - 27 countries (from 2020)  1.380180e+07  1.438250e+07  1.557367e+07  1.646959e+07  1.560786e+07  1.576476e+07  1.663800e+07  1.719525e+07
Finland                                    1.831560e+05  1.942542e+05  2.131899e+05  2.202854e+05  2.172628e+05  2.298205e+05  2.438949e+05  2.597872e+05
France                                     3.075634e+06  3.192048e+06  3.463293e+06  3.633548e+06  3.446369e+06  3.398645e+06  3.583464e+06  3.696852e+06
Germany                                    2.393190e+06  2.469952e+06  2.763866e+06  2.906820e+06  2.736578e+06  2.691908e+06  2.772039e+06  2.804392e+06
Greece                                     3.747319e+05  3.943198e+05  4.128925e+05  4.377729e+05  4.307507e+05  4.363680e+05  4.402742e+05  4.397132e+05
Hungary                                    1.195420e+05  1.257146e+05  1.245354e+05  1.413024e+05  1.304675e+05  1.569773e+05  1.710272e+05  1.778975e+05
Ireland                                    2.566429e+05  2.645340e+05  2.779822e+05  2.886501e+05  2.611768e+05  2.432617e+05  2.356483e+05  2.190497e+05
Italy                                      2.659695e+06  2.798810e+06  2.974369e+06  3.187795e+06  3.027615e+06  3.096550e+06  3.279644e+06  3.393003e+06
Latvia                                     1.525512e+04  1.677416e+04  1.908105e+04  2.137165e+04  2.257542e+04  2.424360e+04  2.684338e+04  2.797410e+04
Lithuania                                  1.883231e+04  2.123574e+04  2.524165e+04  2.838116e+04  2.594275e+04  2.790384e+04  3.148349e+04  3.492812e+04
Luxembourg                                 1.729330e+04  1.825836e+04  2.059197e+04  2.295342e+04  2.245164e+04  2.465029e+04  2.584336e+04  2.591055e+04
Malta                                      7.916550e+03  8.380312e+03  9.319525e+03  1.094339e+04  1.080811e+04  1.177334e+04  1.325483e+04  1.413890e+04
Netherlands                                5.694856e+05  5.751045e+05  6.195999e+05  6.408004e+05  6.009345e+05  5.876691e+05  6.111974e+05  6.248670e+05
Norway                                     1.700568e+05  1.719744e+05  1.721857e+05  1.957908e+05  2.308438e+05  2.140437e+05  2.491503e+05  2.505414e+05
Poland                                     3.418668e+05  3.555225e+05  3.991510e+05  4.262529e+05  3.992730e+05  4.648555e+05  5.685102e+05  6.536266e+05
Portugal                                   3.256835e+05  3.345406e+05  3.472422e+05  3.594304e+05  3.406876e+05  3.412537e+05  3.412537e+05  3.532415e+05
Romania                                    9.333225e+04  1.025572e+05  1.221144e+05  1.426539e+05  1.478157e+05  1.827636e+05  2.233696e+05  2.453537e+05
Slovakia                                   7.114569e+04  7.394331e+04  8.546965e+04  9.574764e+04  9.204470e+04  1.003310e+05  1.092681e+05  1.162024e+05
Slovenia                                   4.086012e+04  4.401593e+04  5.141643e+04  5.345879e+04  4.735766e+04  4.812829e+04  5.130045e+04  5.436425e+04
Spain                                      1.554276e+06  1.650858e+06  1.759308e+06  1.870117e+06  1.783757e+06  1.820307e+06  1.923176e+06  1.996204e+06
Sweden                                     2.937730e+05  2.923070e+05  3.143395e+05  3.384142e+05  3.226304e+05  2.992114e+05  3.214881e+05  3.434265e+05

In [66]:
# EXPORTAR TABLA ANUAL EN CSV
tabla_anual.to_csv("Pasivos_tabla_anual.csv", index=True, encoding="utf-8-sig")