In [41]:
import pandas as pd

#AGREGAMOS EL DATA SET Y VISUALIZAMOS LA PRIMERAS 5 COLUMNAS PARA VALIDAR QUE TODO ESTA BIEN#

ruta_pib = r"C:\Users\rosal\Documents\GitHub\practica-1-EDA-pj2r98\DATA\nama_10_gdp$defaultview_linear_2_0.csv"

df_pib = pd.read_csv(ruta_pib)
df_pib.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,na_item,National accounts indicator (ESA 2010),geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2015,NaN,10028.1,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2016,NaN,10420.1,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2017,NaN,10762.2,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2018,NaN,11157.3,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2019,NaN,11387.4,NaN,NaN,NaN,NaN,NaN

In [42]:
# VALIDAMOS LA INFO QUE HAY DEL DATA SET (u estructira al igual que el tipo de dato como el valor de nulos que posee)#

df_pib.info()
print("\nDescripción general (primeras filas):")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               1311 non-null   object
 1   STRUCTURE_ID                            1311 non-null   object
 2   STRUCTURE_NAME                          1311 non-null   object
 3   freq                                    1311 non-null   object
 4   Time frequency                          1311 non-null   object
 5   unit                                    1311 non-null   object
 6   Unit of measure                         1311 non-null   object
 7   na_item                                 1311 non-null   object
 8   National accounts indicator (ESA 2010)  1311 non-null   object
 9   geo                                     1311 non-null   object
 10  Geopolitical entity (reporting)         1311 non-null   object
 11  TIME_PERIOD                             1311 non-null   int64
 12  Time                                    0 non-null      float64
 13  OBS_VALUE                               1311 non-null   float64
 14  Observation value                       0 non-null      float64
 15  OBS_FLAG                                62 non-null     object
 16  Observation status (Flag) V2 structure  62 non-null     object
 17  CONF_STATUS                             0 non-null      float64
 18  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), int64(1), object(13)
memory usage: 194.7+ KB

Descripción general (primeras filas):

In [43]:
# VALIDAMOS TODAS LA COLUMNAS#

df_pib.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'unit', 'Unit of measure', 'na_item',
       'National accounts indicator (ESA 2010)', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [44]:
#REVISAMOS VALORES UNICOS PARA SABER QUE FILTRAR#
df_pib['na_item'].unique()
df_pib['unit'].unique()
df_pib['freq'].unique()
df_pib['geo'].unique()

print(df_pib['na_item'].unique())
print(df_pib['unit'].unique())
print(df_pib['freq'].unique())
print(df_pib['geo'].unique())

['B1GQ']
['CLV10_MEUR' 'CLV_I10' 'CP_MEUR']
['A']
['AL' 'AT' 'BA' 'BE' 'BG' 'CH' 'CY' 'CZ' 'DE' 'DK' 'EA' 'EA12' 'EA19'
 'EA20' 'EE' 'EL' 'ES' 'EU27_2020' 'FI' 'FR' 'HR' 'HU' 'IE' 'IS' 'IT' 'LT'
 'LU' 'LV' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS' 'SE' 'SI' 'SK'
 'TR' 'UA' 'UK' 'XK' 'LI']

In [50]:
#Empezamos con el filtrado de la data que nos interesa#

df_pib = df_pib[df_pib['na_item'] == "B1GQ"]   #FILTRAMOS PARA QUE NOS QUEDE SOLO EL PIB (GDP)
df_pib = df_pib[df_pib['unit'] == "CLV10_MEUR"] #FILTRAMOS PARA QUE NOS QUEDE MILLONES DE EUROS A PRECIOS CONSTANTES
df_pib = df_pib[df_pib['freq'] == "A"]         #FILTRAMOS PARA QUE NOS QUEDE SOLO FRECUENCIA ANUAL

df_pib.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,na_item,National accounts indicator (ESA 2010),geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2015,NaN,10028.1,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2016,NaN,10420.1,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2017,NaN,10762.2,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2018,NaN,11157.3,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:NAMA_10_GDP$DEFAULTVIEW(1.0),Gross domestic product (GDP) and main componen...,A,Annual,CLV10_MEUR,"Chain linked volumes (2010), million euro",B1GQ,Gross domestic product at market prices,AL,Albania,2019,NaN,11387.4,NaN,NaN,NaN,NaN,NaN

In [ ]:
#SELECCIONAMOS LAS COLUMNAS CON LAS QUE NOS QUEDAREMOS#

df_pib = df_pib[['geo',
                 'Geopolitical entity (reporting)',
                 'TIME_PERIOD',
                 'OBS_VALUE',
                 'na_item',
                 'unit']]

df_pib.head()

,geo,Geopolitical entity (reporting),TIME_PERIOD,OBS_VALUE,na_item,unit
0,AL,Albania,2015,10028.1,B1GQ,CLV10_MEUR
1,AL,Albania,2016,10420.1,B1GQ,CLV10_MEUR
2,AL,Albania,2017,10762.2,B1GQ,CLV10_MEUR
3,AL,Albania,2018,11157.3,B1GQ,CLV10_MEUR
4,AL,Albania,2019,11387.4,B1GQ,CLV10_MEUR

In [54]:
#PROCEDEMOS A TRANSCRIBIR EL NOMBRE DE LAS COLUMNAS SEGUN LA INFORMACION DEL SATASET DE LA PAGINA OFICIAL
#  https://ec.europa.eu/eurostat/cache/metadata/en/gov_10q_ggfa_esms.htm , A ESPA;OL#

df_pib = df_pib.rename(columns={
    'geo': 'Codigo de Pais',
    'Geopolitical entity (reporting)': 'Pais',
    'TIME_PERIOD': 'Periodo',
    'OBS_VALUE': 'PIB (Millones de Euros)',
    'na_item': 'Indicador',
    'unit': 'Unidad'
})

df_pib.head()

,Codigo de Pais,Pais,Periodo,PIB (Millones de Euros),Indicador,Unidad
0,AL,Albania,2015,10028.1,B1GQ,CLV10_MEUR
1,AL,Albania,2016,10420.1,B1GQ,CLV10_MEUR
2,AL,Albania,2017,10762.2,B1GQ,CLV10_MEUR
3,AL,Albania,2018,11157.3,B1GQ,CLV10_MEUR
4,AL,Albania,2019,11387.4,B1GQ,CLV10_MEUR

In [ ]:
#AHORA SI PROCEDEMOS A VER NULOS Y EMPEZAMOS CON LA LIMPIEZA ANTES DE EMPEZAR CON TRANSFORMACION#

df_pib.isnull().sum()

Codigo de Pais             0
Pais                       0
Periodo                    0
PIB (Millones de Euros)    0
Indicador                  0
Unidad                     0
dtype: int64

In [56]:
df_pib[df_pib.isnull().all(axis=1)]

Empty DataFrame
Columns: [Codigo de Pais, Pais, Periodo, PIB (Millones de Euros), Indicador, Unidad]
Index: []

In [57]:
len(df_pib)

434

In [ ]:
#INICIAMOS TRANSFORMACION#

In [59]:
# REVISAMOS A;OS UNICOS DEL DATASET ORIGINAL#

df_pib['Anio'] = df_pib['Periodo'].astype(int)

print("Años disponibles en el dataset:")
print(df_pib['Anio'].unique())

print("\nCantidad de años:", len(df_pib['Anio'].unique()))

Años disponibles en el dataset:
[2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

Cantidad de años: 10

In [60]:
# CREAMOS TABLA PIVOT FINAL (PIB por País y Año)

tabla_pib = df_pib.pivot_table(
    index='Pais',               # Filas → Países
    columns='Anio',             # Columnas → Años
    values='PIB (Millones de Euros)', # Valores numéricos
    aggfunc='sum'               # Como ya es anual, NO se promedia
)

# Mostrar tabla completa
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("\nTabla País vs Año (PIB Anual):")
print(tabla_pib)

Tabla País vs Año (PIB Anual):
Anio                                                      2015        2016        2017        2018        2019        2020        2021        2022        2023        2024
Pais
Albania                                                10028.1     10420.1     10762.2     11157.3     11387.4     11010.1     11997.6     12576.7     13081.7     13611.0
Austria                                               310082.8    316647.9    323842.9    331887.9    337712.4    316374.9    331950.3    349646.5    346897.4    344611.1
Belgium                                               384344.5    388931.6    394666.3    402078.0    411900.3    392158.0    416685.4    433170.4    440595.5    445311.9
Bosnia and Herzegovina                                 14020.2     14474.8     14944.3     15516.6     15964.3     15483.0     16627.5     17330.3     17675.9     18114.3
Bulgaria                                               40884.6     42122.1     43278.7     44287.2     45967.1     44526.8     48012.5     49973.2     50813.6     52534.7
Croatia                                                45629.5     47211.3     48761.7     50181.1     51737.5     47437.7     53430.1     57327.6     59484.0     61760.4
Cyprus                                                 17904.4     19081.4     20178.7     21444.3     22704.3     21973.0     24477.4     26502.6     27461.9     28544.1
Czechia                                               172793.5    177253.0    186423.3    191699.7    198535.3    188003.2    195577.9    201146.3    201242.0    203723.5
Denmark                                               258566.6    266512.4    274658.3    279767.0    284554.9    279489.5    297657.1    298978.2    300785.8    311246.6
Estonia                                                17608.4     18153.0     19175.9     19885.4     20626.4     20031.6     21685.2     21419.3     20831.5     20812.7
Euro area (EA11-1999, EA12-2001, EA13-2007, EA1...  10002243.6  10181721.1  10448284.6  10633630.5  10805308.3  10155521.7  10803476.0  11194681.2  11302135.8  11403065.0
Euro area - 12 countries (2001-2006)                 9787508.1   9960802.2  10217298.4  10391986.8  10555737.1   9912169.8  10541878.0  10928224.1  10971944.2  11064346.1
Euro area - 19 countries  (2015-2022)               10002243.6  10181721.1  10448284.6  10633630.5  10805308.3  10155521.7  10803476.0  11194681.2  11243065.9  11341676.7
Euro area – 20 countries (from 2023)                10047910.4  10228924.1  10497019.3  10683756.9  10856961.2  10202922.8  10856686.5  11251663.9  11302135.8  11403065.0
European Union - 27 countries (from 2020)           11612341.8  11835290.9  12168295.7  12417211.6  12650098.0  11946518.7  12705292.9  13155700.7  13213544.4  13353133.7
Finland                                               187826.2    192657.0    199021.1    201395.4    204113.7    199029.2    204355.9    205915.2    203981.5    204830.4
France                                               2107347.3   2125471.2   2169757.8   2205470.1   2250184.8   2082756.5   2226098.8   2286576.7   2319485.4   2347098.1
Germany                                              2843119.0   2906299.4   2987615.0   3021545.2   3051087.9   2925019.6   3039387.8   3094378.2   3067468.0   3052257.9
Greece                                                181536.8    181479.1    184152.5    187954.7    192234.8    174556.4    189663.4    200136.6    204411.3    208676.5
Hungary                                               110474.2    113168.3    117835.6    124441.6    130759.7    125086.4    134121.3    139690.5    138549.1    139325.1
Iceland                                                11813.3     12547.8     12985.1     13590.4     13745.0     12831.6     13496.3     14686.8     15448.5     15298.5
Ireland                                               235793.4    238676.5    262804.0    283010.1    297083.9    318336.3    370092.1    397890.2    387798.2    397878.9
Italy                                                1563289.6   1582615.3   1607995.7   1621288.1   1628246.1   1483849.6   1616373.2   1694301.4   1710832.6   1722683.1
Kosovo*                                                 5026.5      5306.5      5562.6      5752.1      6025.7      5703.9      6316.9      6587.2      6855.2      7168.7
Latvia                                                 21017.4     21553.7     22286.3     23246.8     23403.8     22591.9     24160.3     24621.4     24389.6     24378.3
Lithuania                                              34088.6     34999.4     36613.6     38414.4     40211.2     40228.4     42801.0     43856.1     44180.5     45519.2
Luxembourg                                             47159.1     49506.8     50158.9     50967.1     52368.4     52101.3     55711.7     55100.3     55155.1     55352.9
Malta                                                   9047.5      9416.5     10637.9     11402.7     11868.5     11458.2     12994.9     13317.6     14732.1     15733.9
Montenegro                                              3414.4      3531.8      3645.4      3817.9      3985.7      3388.1      3830.1      4126.6      4393.9      4532.9
Netherlands                                           672236.0    688532.9    707684.8    723669.6    740314.6    711679.6    756350.5    794222.8    789472.6    798006.8
North Macedonia                                         8021.6      8250.0      8339.3      8579.5      8915.0      8497.0      8880.3      9125.3      9358.4      9638.6
Norway                                                354938.5    359072.5    367919.2    370969.0    375137.7    370342.8    384818.4    397310.4    397597.0    405935.5
Poland                                                421339.5    434111.0    456478.4    484989.4    507204.1    496879.7    531299.4    559221.6    560617.5    577595.3
Portugal                                              171883.0    175327.8    181139.4    186476.3    191596.4    175876.6    185653.2    198622.6    204779.8    209161.5
Romania                                               147149.0    151357.4    163761.8    172596.0    179431.3    172975.3    182640.1    190288.5    194584.7    196367.1
Serbia                                                 32686.0     33658.5     34454.0     36055.9     37768.6     37409.8     40383.5     41475.3     43029.8     44729.4
Slovakia                                               77883.2     79400.3     81682.8     85000.9     86935.4     84687.7     89477.5     89964.8     91865.4     93646.4
Slovenia                                               36763.5     37879.1     39839.1     41583.7     43041.3     41283.0     44757.8     45952.1     47043.9     47858.4
Spain                                                1082577.6   1114136.4   1146402.2   1173863.3   1196884.8   1065944.8   1137183.4   1209625.6   1239392.8   1282216.9
Sweden                                                413175.5    421981.0    429926.2    437536.9    448948.9    440267.2    463274.9    469091.0    468133.8    471972.8
Switzerland                                           493595.9    503806.9    510672.7    525280.3    531278.9    519900.3    548804.7    565510.7    569375.0    576790.1
Türkiye                                               822658.2    850000.6    916520.5    948306.8    960650.2    977971.3   1093480.4   1152979.2   1211148.4   1251450.8
Ukraine                                                91135.1     93359.7     95563.0     98896.6    102060.8     98230.6    101615.3     72392.2     76398.9         NaN
United Kingdom                                       2069251.0   2104891.5   2141523.2   2168347.7   2198071.7         NaN         NaN         NaN         NaN         NaN

In [62]:
# EXPORTAMOS TABLA PIB A CSV
df_pib.to_csv(r"C:\Users\rosal\Documents\GitHub\practica-1-EDA-pj2r98\DATA\PIB_tabla_anual.csv",
              index=False,
              encoding="utf-8-sig")

print("Archivo CSV exportado correctamente.")

Archivo CSV exportado correctamente.