In [2]:
import pandas as pd

In [3]:
#AGREGAMOS EL DATA SET Y VISUALIZAMOS LA PRIMERAS 5 COLUMNAS PARA VALIDAR QUE TODO ESTA BIEN#

df = pd.read_csv("DATA/gov_10q_ggfa_page_linear_2_0.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,na_item,National accounts indicator (ESA 2010),finpos,Financial position,stk_flow,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q1,NaN,-197341.8,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q2,NaN,-198387.8,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q3,NaN,-190542.5,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q4,NaN,-194800.6,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2019-Q1,NaN,-197411.8,NaN,NaN,NaN,NaN,NaN

In [7]:
# VALIDAMOS LA INFO QUE HAY DEL DATA SET (u estructira al igual que el tipo de dato como el valor de nulos que posee)#

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               930 non-null    object
 1   STRUCTURE_ID                            930 non-null    object
 2   STRUCTURE_NAME                          930 non-null    object
 3   freq                                    930 non-null    object
 4   Time frequency                          930 non-null    object
 5   na_item                                 930 non-null    object
 6   National accounts indicator (ESA 2010)  930 non-null    object
 7   finpos                                  930 non-null    object
 8   Financial position                      930 non-null    object
 9   stk_flow                                930 non-null    object
 10  Stock or flow                           930 non-null    object
 11  sector                                  930 non-null    object
 12  Sector                                  930 non-null    object
 13  sector2                                 930 non-null    object
 14  Counterpart sector                      930 non-null    object
 15  co_nco                                  930 non-null    object
 16  Consolidated/Non consolidated           930 non-null    object
 17  unit                                    930 non-null    object
 18  Unit of measure                         930 non-null    object
 19  geo                                     930 non-null    object
 20  Geopolitical entity (reporting)         930 non-null    object
 21  TIME_PERIOD                             930 non-null    object
 22  Time                                    0 non-null      float64
 23  OBS_VALUE                               930 non-null    float64
 24  Observation value                       0 non-null      float64
 25  OBS_FLAG                                60 non-null     object
 26  Observation status (Flag) V2 structure  60 non-null     object
 27  CONF_STATUS                             0 non-null      float64
 28  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), object(24)
memory usage: 210.8+ KB

In [4]:
# VALIDAMOS TODAS LA COLUMNAS#

df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'na_item', 'National accounts indicator (ESA 2010)', 'finpos',
       'Financial position', 'stk_flow', 'Stock or flow', 'sector', 'Sector',
       'sector2', 'Counterpart sector', 'co_nco',
       'Consolidated/Non consolidated', 'unit', 'Unit of measure', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [5]:
df["finpos"].unique()

array(['LIAB'], dtype=object)

In [6]:
#Empezamos con el filtrado de la data que nos intersa#

df = df[df['na_item'] == "BF90"] #FILTRAMOS PARA QUE NOS QUEDE SOLO FQUE INDICAN LAS VARIABLES FINANCIERAS DEL GOBIERNO9#
df = df[df['sector'] == "S13"] #FILTRAMOS PARA QUE NOS QUEDE SOLO S13 QUE INDICA EL GOBIERNO EN GENERAL#
df = df[df['unit'] == "MIO_EUR"] #FILTRAMOS PARA QUE NOS QUEDE MILLONES DE EUROS#
df = df[df['finpos'] == "LIAB"] #FILTRAMOS PARA QUE NOS QUEDEN LOS PASIVOS#

df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,na_item,National accounts indicator (ESA 2010),finpos,Financial position,stk_flow,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q1,NaN,-197341.8,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q2,NaN,-198387.8,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q3,NaN,-190542.5,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q4,NaN,-194800.6,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2019-Q1,NaN,-197411.8,NaN,NaN,NaN,NaN,NaN

In [11]:
#AHORA VAMOS A REDUCIR LAS COLUMNAS QUE SI NOS INTERESAN,
#YA QUE MUNAS DE ELLAS NOS SON IRRELEVANTES DE LAS CUALES NOS QUEDAMOS CON 6 DE LAS FILTRADAS#

In [7]:
#SELECCIONAMOS LAS COLUMNAS CON LAS QUE NOS QUEDAREMOS#

df = df[['geo',
         'Geopolitical entity (reporting)',
         'TIME_PERIOD',
         'OBS_VALUE',
         'na_item',
         'finpos']]

df.head()

  geo Geopolitical entity (reporting) TIME_PERIOD  OBS_VALUE na_item finpos
0  AT                         Austria     2018-Q1  -197341.8    BF90   LIAB
1  AT                         Austria     2018-Q2  -198387.8    BF90   LIAB
2  AT                         Austria     2018-Q3  -190542.5    BF90   LIAB
3  AT                         Austria     2018-Q4  -194800.6    BF90   LIAB
4  AT                         Austria     2019-Q1  -197411.8    BF90   LIAB

In [8]:
#PROCEDEMOS A TRANSCRIBIR EL NOMBRE DE LAS COLUMNAS SEGUN LA INFORMACION DEL SATASET DE LA PAGINA OFICIAL
#  https://ec.europa.eu/eurostat/cache/metadata/en/gov_10q_ggfa_esms.htm , A ESPA;OL#

df = df.rename(columns={
    'geo': 'Codigo de Pais',
    'Geopolitical entity (reporting)': 'Pais',
    'TIME_PERIOD': 'Periodo',
    'OBS_VALUE': 'Millones de Euros',
    'na_item': 'indicador',
    'finpos': 'Posicion Financiera'
})

df.head()

,Codigo de Pais,Pais,Periodo,Millones de Euros,indicador,Posicion Financiera
0,AT,Austria,2018-Q1,-197341.8,BF90,LIAB
1,AT,Austria,2018-Q2,-198387.8,BF90,LIAB
2,AT,Austria,2018-Q3,-190542.5,BF90,LIAB
3,AT,Austria,2018-Q4,-194800.6,BF90,LIAB
4,AT,Austria,2019-Q1,-197411.8,BF90,LIAB

In [9]:
#AHORA SI PROCEDEMOS A VER NULOS Y EMPEZAMOS CON LA LIMPIEZA ANTES DE EMPEZAR CON TRANSFORMACION#

df.isnull().sum()

Codigo de Pais         0
Pais                   0
Periodo                0
Millones de Euros      0
indicador              0
Posicion Financiera    0
dtype: int64

In [10]:
df[df.isnull().all(axis=1)]

Empty DataFrame
Columns: [Codigo de Pais, Pais, Periodo, Millones de Euros, indicador, Posicion Financiera]
Index: []

In [11]:
len(df)

930

In [72]:
#CON ESTO OBSERVAMOS QUE NO HAY BULOS NI FILAS NI COLUMNAS#

In [73]:
#INICIAMOS TRANSFORMACION#

In [18]:
df.columns

Index(['Codigo de Pais', 'Pais', 'Periodo', 'Millones de Euros', 'indicador',
       'Posicion Financiera'],
      dtype='object')

In [12]:
# CREAMOS COLUMNAS Y TRIMESTRES#
df['Anio'] = df['Periodo'].str.slice(0, 4).astype(int)
df['Trimestre'] = df['Periodo'].str.slice(5)

# MOSTRAMOS EL RESULTADO POR PAIS#
print("Primeros registros con País, Año y Trimestre:")
print(df[['Pais', 'Periodo', 'Anio', 'Trimestre']].head(20))

Primeros registros con País, Año y Trimestre:
       Pais  Periodo  Anio Trimestre
0   Austria  2018-Q1  2018        Q1
1   Austria  2018-Q2  2018        Q2
2   Austria  2018-Q3  2018        Q3
3   Austria  2018-Q4  2018        Q4
4   Austria  2019-Q1  2019        Q1
5   Austria  2019-Q2  2019        Q2
6   Austria  2019-Q3  2019        Q3
7   Austria  2019-Q4  2019        Q4
8   Austria  2020-Q1  2020        Q1
9   Austria  2020-Q2  2020        Q2
10  Austria  2020-Q3  2020        Q3
11  Austria  2020-Q4  2020        Q4
12  Austria  2021-Q1  2021        Q1
13  Austria  2021-Q2  2021        Q2
14  Austria  2021-Q3  2021        Q3
15  Austria  2021-Q4  2021        Q4
16  Austria  2022-Q1  2022        Q1
17  Austria  2022-Q2  2022        Q2
18  Austria  2022-Q3  2022        Q3
19  Austria  2022-Q4  2022        Q4

In [13]:
# Crear columnas Año y Trimestre
df['Anio'] = df['Periodo'].str.slice(0, 4).astype(int)
df['Trimestre'] = df['Periodo'].str.slice(5)

# TABLA PIVOT
tabla_trimestres = df.pivot_table(
    index='Pais',
    columns='Trimestre',
    values='Millones de Euros',
    aggfunc='mean'
)

# MOSTRAMOS LA TABLA COMPLETA
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("Tabla País vs Trimestres COMPLETA:")
print(tabla_trimestres)

Tabla País vs Trimestres COMPLETA:
Trimestre                                            Q1            Q2            Q3            Q4
Pais
Austria                                   -2.123857e+05 -2.138752e+05 -2.103361e+05 -2.126570e+05
Belgium                                   -4.386816e+05 -4.385439e+05 -4.378121e+05 -4.361191e+05
Bulgaria                                  -2.694725e+03 -2.525537e+03 -1.538600e+03 -3.166700e+03
Croatia                                   -2.397425e+04 -2.437208e+04 -2.297249e+04 -2.394956e+04
Cyprus                                    -1.082674e+04 -1.102376e+04 -1.068043e+04 -1.061271e+04
Czechia                                   -3.321571e+04 -3.152204e+04 -2.979481e+04 -3.320980e+04
Denmark                                    4.824965e+04  5.101497e+04  4.712306e+04  4.925374e+04
Estonia                                    4.494887e+03  4.433963e+03  4.842043e+03  4.433357e+03
Euro area - 19 countries  (2015-2022)     -8.051143e+06 -8.063246e+06 -8.050422e+06 -8.111736e+06
Euro area – 20 countries (from 2023)      -8.075117e+06 -8.087618e+06 -8.073394e+06 -8.135686e+06
European Union - 27 countries (from 2020) -8.317335e+06 -8.329576e+06 -8.293790e+06 -8.380689e+06
Finland                                    1.513355e+05  1.534256e+05  1.528906e+05  1.565014e+05
France                                    -1.959055e+06 -1.978531e+06 -1.967900e+06 -1.970791e+06
Germany                                   -1.097239e+06 -1.074887e+06 -1.101532e+06 -1.112795e+06
Greece                                    -2.842811e+05 -2.845701e+05 -2.855201e+05 -2.864525e+05
Hungary                                   -8.609786e+04 -8.643121e+04 -8.203866e+04 -8.708306e+04
Ireland                                   -1.475499e+05 -1.458303e+05 -1.500143e+05 -1.462460e+05
Italy                                     -2.456553e+06 -2.450735e+06 -2.440118e+06 -2.461578e+06
Latvia                                    -5.332775e+03 -5.224250e+03 -5.029229e+03 -5.796529e+03
Lithuania                                 -7.200850e+03 -6.764250e+03 -6.624686e+03 -7.508786e+03
Luxembourg                                 3.612651e+04  3.681593e+04  3.640436e+04  3.680447e+04
Malta                                     -5.306438e+03 -5.308962e+03 -5.049443e+03 -5.380571e+03
Netherlands                               -2.512040e+05 -2.513676e+05 -2.575354e+05 -2.582940e+05
Norway                                     1.367592e+06  1.398458e+06  1.355965e+06  1.400448e+06
Poland                                    -2.297938e+05 -2.371457e+05 -2.225342e+05 -2.382077e+05
Portugal                                  -2.033463e+05 -2.031497e+05 -2.032950e+05 -2.051097e+05
Romania                                   -7.464436e+04 -7.662491e+04 -7.071937e+04 -7.687447e+04
Slovakia                                  -4.416789e+04 -4.502794e+04 -4.382616e+04 -4.555911e+04
Slovenia                                  -1.370167e+04 -1.379155e+04 -1.449110e+04 -1.433074e+04
Spain                                     -1.106268e+06 -1.129290e+06 -1.104795e+06 -1.130245e+06
Sweden                                     1.359794e+05  1.412765e+05  1.391068e+05  1.442852e+05

In [20]:
#A PARTIR DE LA TABLA ANTERIOR CREAMOS UN NUEVO DATAFREME#

In [14]:
df_trimestres = tabla_trimestres.copy()

print(df_trimestres)

Trimestre                                            Q1            Q2            Q3            Q4
Pais
Austria                                   -2.123857e+05 -2.138752e+05 -2.103361e+05 -2.126570e+05
Belgium                                   -4.386816e+05 -4.385439e+05 -4.378121e+05 -4.361191e+05
Bulgaria                                  -2.694725e+03 -2.525537e+03 -1.538600e+03 -3.166700e+03
Croatia                                   -2.397425e+04 -2.437208e+04 -2.297249e+04 -2.394956e+04
Cyprus                                    -1.082674e+04 -1.102376e+04 -1.068043e+04 -1.061271e+04
Czechia                                   -3.321571e+04 -3.152204e+04 -2.979481e+04 -3.320980e+04
Denmark                                    4.824965e+04  5.101497e+04  4.712306e+04  4.925374e+04
Estonia                                    4.494887e+03  4.433963e+03  4.842043e+03  4.433357e+03
Euro area - 19 countries  (2015-2022)     -8.051143e+06 -8.063246e+06 -8.050422e+06 -8.111736e+06
Euro area – 20 countries (from 2023)      -8.075117e+06 -8.087618e+06 -8.073394e+06 -8.135686e+06
European Union - 27 countries (from 2020) -8.317335e+06 -8.329576e+06 -8.293790e+06 -8.380689e+06
Finland                                    1.513355e+05  1.534256e+05  1.528906e+05  1.565014e+05
France                                    -1.959055e+06 -1.978531e+06 -1.967900e+06 -1.970791e+06
Germany                                   -1.097239e+06 -1.074887e+06 -1.101532e+06 -1.112795e+06
Greece                                    -2.842811e+05 -2.845701e+05 -2.855201e+05 -2.864525e+05
Hungary                                   -8.609786e+04 -8.643121e+04 -8.203866e+04 -8.708306e+04
Ireland                                   -1.475499e+05 -1.458303e+05 -1.500143e+05 -1.462460e+05
Italy                                     -2.456553e+06 -2.450735e+06 -2.440118e+06 -2.461578e+06
Latvia                                    -5.332775e+03 -5.224250e+03 -5.029229e+03 -5.796529e+03
Lithuania                                 -7.200850e+03 -6.764250e+03 -6.624686e+03 -7.508786e+03
Luxembourg                                 3.612651e+04  3.681593e+04  3.640436e+04  3.680447e+04
Malta                                     -5.306438e+03 -5.308962e+03 -5.049443e+03 -5.380571e+03
Netherlands                               -2.512040e+05 -2.513676e+05 -2.575354e+05 -2.582940e+05
Norway                                     1.367592e+06  1.398458e+06  1.355965e+06  1.400448e+06
Poland                                    -2.297938e+05 -2.371457e+05 -2.225342e+05 -2.382077e+05
Portugal                                  -2.033463e+05 -2.031497e+05 -2.032950e+05 -2.051097e+05
Romania                                   -7.464436e+04 -7.662491e+04 -7.071937e+04 -7.687447e+04
Slovakia                                  -4.416789e+04 -4.502794e+04 -4.382616e+04 -4.555911e+04
Slovenia                                  -1.370167e+04 -1.379155e+04 -1.449110e+04 -1.433074e+04
Spain                                     -1.106268e+06 -1.129290e+06 -1.104795e+06 -1.130245e+06
Sweden                                     1.359794e+05  1.412765e+05  1.391068e+05  1.442852e+05

In [15]:
#CREAMOS LA NUEVA COLUMNA PROMEDIO#

df_trimestres['Promedio_Anual'] = df_trimestres[['Q1', 'Q2', 'Q3', 'Q4']].mean(axis=1)

#MOSTRAMOS TODA LA TABLA#
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("Nuevo DataFrame con Promedio Anual:")
print(df_trimestres)

Nuevo DataFrame con Promedio Anual:
Trimestre                                            Q1            Q2            Q3            Q4  Promedio_Anual
Pais
Austria                                   -2.123857e+05 -2.138752e+05 -2.103361e+05 -2.126570e+05   -2.123135e+05
Belgium                                   -4.386816e+05 -4.385439e+05 -4.378121e+05 -4.361191e+05   -4.377892e+05
Bulgaria                                  -2.694725e+03 -2.525537e+03 -1.538600e+03 -3.166700e+03   -2.481391e+03
Croatia                                   -2.397425e+04 -2.437208e+04 -2.297249e+04 -2.394956e+04   -2.381709e+04
Cyprus                                    -1.082674e+04 -1.102376e+04 -1.068043e+04 -1.061271e+04   -1.078591e+04
Czechia                                   -3.321571e+04 -3.152204e+04 -2.979481e+04 -3.320980e+04   -3.193559e+04
Denmark                                    4.824965e+04  5.101497e+04  4.712306e+04  4.925374e+04    4.891036e+04
Estonia                                    4.494887e+03  4.433963e+03  4.842043e+03  4.433357e+03    4.551062e+03
Euro area - 19 countries  (2015-2022)     -8.051143e+06 -8.063246e+06 -8.050422e+06 -8.111736e+06   -8.069137e+06
Euro area – 20 countries (from 2023)      -8.075117e+06 -8.087618e+06 -8.073394e+06 -8.135686e+06   -8.092954e+06
European Union - 27 countries (from 2020) -8.317335e+06 -8.329576e+06 -8.293790e+06 -8.380689e+06   -8.330347e+06
Finland                                    1.513355e+05  1.534256e+05  1.528906e+05  1.565014e+05    1.535383e+05
France                                    -1.959055e+06 -1.978531e+06 -1.967900e+06 -1.970791e+06   -1.969069e+06
Germany                                   -1.097239e+06 -1.074887e+06 -1.101532e+06 -1.112795e+06   -1.096613e+06
Greece                                    -2.842811e+05 -2.845701e+05 -2.855201e+05 -2.864525e+05   -2.852060e+05
Hungary                                   -8.609786e+04 -8.643121e+04 -8.203866e+04 -8.708306e+04   -8.541270e+04
Ireland                                   -1.475499e+05 -1.458303e+05 -1.500143e+05 -1.462460e+05   -1.474101e+05
Italy                                     -2.456553e+06 -2.450735e+06 -2.440118e+06 -2.461578e+06   -2.452246e+06
Latvia                                    -5.332775e+03 -5.224250e+03 -5.029229e+03 -5.796529e+03   -5.345696e+03
Lithuania                                 -7.200850e+03 -6.764250e+03 -6.624686e+03 -7.508786e+03   -7.024643e+03
Luxembourg                                 3.612651e+04  3.681593e+04  3.640436e+04  3.680447e+04    3.653782e+04
Malta                                     -5.306438e+03 -5.308962e+03 -5.049443e+03 -5.380571e+03   -5.261354e+03
Netherlands                               -2.512040e+05 -2.513676e+05 -2.575354e+05 -2.582940e+05   -2.546003e+05
Norway                                     1.367592e+06  1.398458e+06  1.355965e+06  1.400448e+06    1.380616e+06
Poland                                    -2.297938e+05 -2.371457e+05 -2.225342e+05 -2.382077e+05   -2.319204e+05
Portugal                                  -2.033463e+05 -2.031497e+05 -2.032950e+05 -2.051097e+05   -2.037252e+05
Romania                                   -7.464436e+04 -7.662491e+04 -7.071937e+04 -7.687447e+04   -7.471578e+04
Slovakia                                  -4.416789e+04 -4.502794e+04 -4.382616e+04 -4.555911e+04   -4.464527e+04
Slovenia                                  -1.370167e+04 -1.379155e+04 -1.449110e+04 -1.433074e+04   -1.407877e+04
Spain                                     -1.106268e+06 -1.129290e+06 -1.104795e+06 -1.130245e+06   -1.117650e+06
Sweden                                     1.359794e+05  1.412765e+05  1.391068e+05  1.442852e+05    1.401620e+05

In [16]:
# REVISAMOS A;OS UNICOS DEL DATASET ORIGINAL#
df['Anio'] = df['Periodo'].str.slice(0, 4).astype(int)

print("Años disponibles en el dataset:")
print(df['Anio'].unique())

print("\nCantidad de años:", len(df['Anio'].unique()))

Años disponibles en el dataset:
[2018 2019 2020 2021 2022 2023 2024 2025]

Cantidad de años: 8

In [17]:
# EXPRAEMOS EL A;O DESDE EL PERIDODO #
df['Anio'] = df['Periodo'].str.slice(0, 4).astype(int)

# CREAMOS NUEVA TABLA PIBOT País vs Años (media anual)
tabla_anual = df.pivot_table(
    index='Pais',              # filas = países
    columns='Anio',            # columnas = años
    values='Millones de Euros',# valores numéricos
    aggfunc='mean'             # promedio anual
)

# MOSTRAMOS LA TABLA COMPLETA #
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

print("\nTabla País vs Años (Promedio Anual):")
print(tabla_anual)

Tabla País vs Años (Promedio Anual):
Anio                                              2018         2019         2020         2021         2022         2023         2024        2025
Pais
Austria                                    -195268.175  -198388.150  -218328.000  -227430.550  -202805.325  -206339.350  -225702.825  -236994.45
Belgium                                    -395204.500  -421099.000  -449674.000  -464503.250  -427255.000  -428528.750  -460286.000  -474560.50
Bulgaria                                      -708.800      703.925      696.250    -1477.925    -3049.325    -4627.875    -6549.450    -7323.20
Croatia                                     -20976.425   -20157.925   -22339.925   -24873.325   -24662.450   -25620.150   -26111.950   -28128.15
Cyprus                                      -12021.175   -10892.250   -12125.675   -14108.250   -10743.450    -8744.000    -8420.900    -7816.60
Czechia                                     -18862.400   -17540.150   -26966.875   -32292.250   -27665.300   -40290.950   -50484.000   -51263.30
Denmark                                       4582.325    11632.350    27238.525    41929.850    63205.975    77346.725    89847.525   102810.75
Estonia                                       6007.450     6014.100     4865.100     3881.900     4921.100     4556.575     2817.675     2051.50
Euro area - 19 countries  (2015-2022)     -7347316.775 -7598511.900 -8210063.500 -8644706.550 -7968447.075 -8045610.600 -8430717.375 -8534363.10
Euro area – 20 countries (from 2023)      -7368293.175 -7618669.825 -8232403.450 -8669579.900 -7993109.525 -8071230.750 -8456829.325 -8562491.25
European Union - 27 countries (from 2020) -7584716.350 -7821431.025 -8469512.000 -8888679.850 -8141622.750 -8310745.675 -8788324.275 -8938255.60
Finland                                     137538.000   143479.250   135443.500   173123.500   164272.750   158815.500   159617.250   157337.00
France                                    -1777622.750 -1851416.250 -1990766.500 -2053531.000 -1947660.250 -1974534.750 -2094003.750 -2156695.00
Germany                                   -1077661.500 -1055263.250 -1171362.750 -1252186.250 -1072042.500 -1046718.250 -1046503.000  -995172.50
Greece                                     -261527.000  -269812.900  -288525.775  -308100.375  -289992.450  -290807.575  -289872.300  -280032.25
Hungary                                     -74799.825   -79434.250   -76904.300   -84597.400   -73147.400   -92062.200  -104551.225  -111049.10
Ireland                                    -161381.975  -162506.300  -174716.850  -177995.575  -144521.675  -124757.150  -111325.475   -96021.75
Italy                                     -2141914.000 -2259449.750 -2418036.750 -2585367.750 -2427169.750 -2505864.250 -2676890.000 -2755705.50
Latvia                                       -2726.250    -3121.150    -4549.650    -6380.425    -6318.725    -6559.075    -6874.125    -7059.45
Lithuania                                    -6214.675    -6384.000    -8066.125    -9782.150    -6223.900    -5800.325    -6653.275    -7078.65
Luxembourg                                   30196.300    33376.200    32119.450    36819.700    38448.525    39152.425    42304.250    43166.95
Malta                                        -3720.150    -3817.900    -4598.750    -5554.025    -5466.525    -5895.550    -6739.200    -7382.45
Netherlands                                -267161.750  -254910.500  -264808.750  -281537.000  -250114.000  -238904.250  -236356.250  -228104.50
Norway                                     1041091.375  1144426.975  1103240.700  1364256.150  1423665.975  1544913.650  1803756.500  1860944.10
Poland                                     -192717.525  -193230.550  -218760.000  -221579.175  -192651.875  -238234.950  -309620.775  -346765.10
Portugal                                   -210006.000  -214044.050  -217327.250  -225761.425  -198435.075  -190325.550  -183923.850  -175753.80
Romania                                     -39530.800   -44918.500   -58914.600   -73547.875   -69984.225   -91626.275  -115263.050  -134084.90
Slovakia                                    -37810.975   -40321.425   -44255.175   -48373.950   -41909.725   -43393.200   -50861.300   -55780.25
Slovenia                                    -11611.925   -13192.850   -17161.050   -17578.725   -13755.975   -13374.625   -13079.050   -11340.95
Spain                                      -959205.750 -1016761.750 -1098188.500 -1180341.000 -1131675.250 -1157588.500 -1217965.250 -1241420.00
Sweden                                      105613.875   120025.900   116502.525   152464.725   154778.900   149980.600   165126.000   171910.50

In [18]:
#EXPORTAR TABLA ANUAL EN CSV
tabla_anual.to_csv("NETW_tabla_anual.csv", index=True, encoding="utf-8-sig")